.user {
  margin: 50px auto;
  width: 25%;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.form .username {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form .username label {
  margin-top: 10px;
}

.form .username input {
  margin-top: 5px;
  padding: 10px;
}

.form .username button {
  margin-top: 10px;
}

.login {
  margin-top: 30px;
  text-align: center;
}

.login .btn.btn-success {
  width: 50%;
}

.user h2 {
  text-align: center;
  font-weight: bold;
  color: darkcyan;
  text-transform: uppercase;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.7);
}

.btn btn-primary:disabled {

  background-color: #cccccc;
  cursor: not-allowed;
  opacity: 0.6; 
}

.spinner {
  border: 4px solid #0000001a;
  border-left-color: #09f;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
